body{
    background: black;
    color: white;
}

/* header */

.header{
    position: relative;
    top: 0;
    left: 0;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 22px;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

span{
    color: orange;
}

.nav-bar a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 50px;
}

.nav-bar a:hover{
    color: orange;
}

.nav-bar a.active{
    color: orange;
}

/*home section*/

.home{
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.home-content{
    border: 1px solid orange;
    border-radius: 15px;
    max-width: 1200px;

    position: relative;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.home-content h1{
    text-align: center;
    font-size: 60px;
}

.home-content h3{
    text-align: center;
}

.home-content p{
    font-size: 16px;
    text-align: center;
    padding: 0 10% 0 10%;
}