body{
    background: black;
    color: white;
}

/* header */

.header{
    position: relative;
    top: 0;
    left: 0;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 22px;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

span{
    color: orange;
}

.nav-bar a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 50px;
}

.nav-bar a:hover{
    color: orange;
}

.nav-bar a.active{
    color: orange;
}

/*home section*/

.home{
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.home-content{
    border: 1px solid orange;
    border-radius: 15px;
    max-width: 1200px;

    position: relative;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.home-content h1{
    text-align: center;
    font-size: 60px;
}

.home-content h3{
    text-align: center;
}

.home-content p{
    font-size: 16px;
    text-align: center;
    padding: 0 10% 0 10%;
}

.home-content .btn-container{
    display: flex;
    justify-content: space-between;
    width: 320px;
    height: 30px;
    padding: 3% 0 3% 0;
    position: relative;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.btn-container a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    text-decoration: none;
    color: white;
    border: 2px solid orange;
    border-radius: 20px;
    letter-spacing: 1px;
}

/*about me section*/

.about-me{
    max-width: 1200px;
    display: flex;
    margin: 80px auto;
}

.about-me>#about-content{
    position: relative;
    margin-right: 300px;
    margin-left: 50px;
}

.about-me>#about-content img{
    position: relative;
}

#about-content>#about-me{
    font-size: 30px;
}

#about-content>p{
    font-size: 16px;
    letter-spacing: 1px;
}

/*professional skills section*/

.professional{
    position: relative;
    margin: 100px;
}

.skills{
    font-size: 30px;
    text-align: center;
}

.skill-set{
    background: white;
    margin: 20px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    border-radius: 15px;
}

.skill-set>h4{
    font-size: 18px;
}

.grid{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

/*technical skills section*/

.technical{
    position: relative;
    text-align: center;
    margin: 80px auto;
}

.img-div{
    position: relative;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(6, 1fr);
    max-width: 1300px;

    margin: 0 auto;
    justify-items: center;
    align-items: center;

    margin-bottom: 50px;
}

.img-div>img{
    border: 1px solid orange;
    border-radius: 10px;
    width: 70px;

    margin: 15px;
}

.row-2 {
    position: relative;
    left: -50%;
}

.img-div>#git{
    background: white;
}

.technical>:nth-child(3){
    position: relative;
    max-width: 800px;
    border-radius: 10px;
    background: rgb(33, 33, 33);
    padding: 5px;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.technical>:nth-child(3) em{
    color: orange;
}

/*projects section*/

.projects{
    position: relative;
    margin-top: 150px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

h4{
    font-size: 25px;
    margin-bottom: 0;
}

h6{
    margin-top: 0;
    color: orange;
    font-size: 15px;
    margin-bottom: 0;
}

.prj-content{
    margin-top: 15px;
}